<body>
    <mat-card color="primary">
        <b><span>Dashboard</span></b>
    </mat-card>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h4 class="title">Total Category</h4>
                    <h2 class="title">{{data?.category}}</h2>
                    <button class="button" [routerLink]="['/cafe/category']">View Category</button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h4 class="title">Total Product</h4>
                    <h2 class="title">{{data?.product}}</h2>
                    <button class="button" [routerLink]="['/cafe/product']">View Product</button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h4 class="title">Total Bill</h4>
                    <h2 class="title">{{data?.bill}}</h2>
                    <button class="button" [routerLink]="['/cafe/category']">View Bill</button>
                </div>
            </div>
        </div>
    </div>
</body>